image:
  repository: docker.io/pedropeixoto6/todo-api
  tag: master
env:
  ENV: staging
  APP_PORT: 8080
  ALLOWED_HOSTS: "*"
  DB_DRIVER: postgres
  DB_HOST: postgres.services.svc.cluster.local
  DB_PORT: 5432
  DB_USER: username
  DB_PASSWORD: password
  DB_NAME: postgres
  DB_SSL_MODE: disable
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
autoscaling:
  minScale: 1
  maxScale: 10