name: CI

on:
  push:
    branches: [ main, develop ]

  workflow_dispatch:

jobs:
  build:
    name: Build and Push Docker image
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go environment
        uses: actions/setup-go@v2
        with:
          go-version: ^1.19
    
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build and push Docker image
        uses: docker/build-push-action@v1.1.0
        with:
          dockerfile: app/Dockerfile
          path: ./app
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ secrets.DOCKER_USERNAME }}/todo-api
          tags: ${{ github.ref_name }}, ${{ github.sha }}