name: CI

on:
  push:
    branches: [ main, develop ]

  workflow_dispatch:

jobs:
  build:
    name: Build and Push Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go environment
        uses: actions/setup-go@v2
        with:
          go-version: ^1.19
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build golang
        working-directory: ./app
        run: make build

      - name: Build and push Docker image
        uses: docker/build-push-action@v1.1.0
        with:
          dockerfile: app/Dockerfile
          path: ./app
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ secrets.DOCKER_USERNAME }}/todo-api
          tags: ${{ github.ref_name }}, ${{ github.sha }}

  update-config:
    name: Update Kubernetes config
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Update Version
        run: |
            git_hash=${{ github.sha }}
            target_env="staging"
            if [[ "${{ github.ref_name }}" == "main" ]]; then
              target_env="prod"
            fi
            values_file_path="./argocd/services/todo/envs/$target_env/$target_env.yaml"
            echo "File path to be replaced: $values_file_path"
            version=$(cat $values_file_path | grep tag: | awk '{print $2}')
            sed -i "s/$version/$git_hash/" $values_file_path

      - name: Commit and push changes
        uses: devops-infra/action-commit-push@v0.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          commit_message: automated ci commit - updating service image tag